# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# SQLite database
database.db
*.sqlite3

# Virtual environment
.venv
venv/
ENV/

# Flask adhoc SSL certificates
cert.pem
key.pem

# Environment variables
.env